# --- Gradle / Loom ---
.gradle/
build/
out/
run/
tmp/
*.out.log

# --- IDEs ---
.idea/
*.iml
*.ipr
*.iws

.settings/
.vscode/
bin/
.classpath
.project

# --- Crash / profiling ---
hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.launch
*.DS_Store
